In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("/content/drive/MyDrive/nchs (1).csv")

In [3]:
data

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2755,55.5
1,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,439,63.1
2,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4010,54.2
3,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1604,51.8
4,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,California,13213,32.0
...,...,...,...,...,...,...
10291,2003,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,273,55.1
10292,2002,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,289,58.1
10293,2001,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,272,55.5
10294,2000,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,245,50.8
10295,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,258,52.8

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10296 entries, 0 to 10295
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     10296 non-null  int64
 1   113 Cause Name           10296 non-null  object
 2   Cause Name               10296 non-null  object
 3   State                    10296 non-null  object
 4   Deaths                   10296 non-null  int64
 5   Age-adjusted Death Rate  10296 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 482.8+ KB

In [5]:
data["Cause Name"].unique()

array(['Unintentional injuries', 'All causes', "Alzheimer's disease",
       'Cancer', 'CLRD', 'Diabetes', 'Heart disease',
       'Influenza and pneumonia', 'Kidney disease', 'Stroke', 'Suicide'],
      dtype=object)

In [10]:
(data[data["Cause Name"]!="All causes"])

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2755,55.5
1,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,439,63.1
2,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4010,54.2
3,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1604,51.8
4,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,California,13213,32.0
...,...,...,...,...,...,...
10291,2003,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,273,55.1
10292,2002,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,289,58.1
10293,2001,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,272,55.5
10294,2000,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,245,50.8
10295,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,258,52.8

In [13]:
data["State"].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'United States'],
      dtype=object)

In [19]:
st=data.groupby("State").sum()

In [20]:
print(st)

                        Year    Deaths  Age-adjusted Death Rate
State
Alabama               397485   1510931                  30446.7
Alaska                397485    110361                  24462.6
Arizona               397485   1471757                  23278.0
Arkansas              397485    929634                  29442.7
California            397485   7694563                  22415.2
Colorado              397485    973746                  22575.7
Connecticut           397485    927612                  21981.2
Delaware              397485    238935                  25367.4
District of Columbia  397485    160361                  27437.4
Florida               397485   5512136                  23067.3
Georgia               397485   2182235                  27467.6
Hawaii                397485    300668                  19696.3
Idaho                 397485    351070                  24038.2
Illinois              397485   3299528                  25044.8
Indiana               397485   1821157                  27306.8
Iowa                  397485    901497                  23889.8
Kansas                397485    785398                  25101.9
Kentucky              397485   1340426                  30240.9
Louisiana             397485   1329242                  29981.7
Maine                 397485    407962                  25042.1
Maryland              397485   1384915                  24543.9
Massachusetts         397485   1712812                  22673.2
Michigan              397485   2839241                  26291.2
Minnesota             397485   1212223                  21462.2
Mississippi           397485    935091                  31652.3
Missouri              397485   1796910                  27437.4
Montana               397485    277255                  24817.1
Nebraska              397485    484109                  23626.1
Nevada                397485    609031                  26621.0
New Hampshire         397485    332283                  23610.9
New Jersey            397485   2267451                  23425.4
New Mexico            397485    489205                  24430.1
New York              397485   4889235                  22889.7
North Carolina        397485   2447232                  26618.7
North Dakota          397485    191032                  23140.2
Ohio                  397485   3501123                  27134.4
Oklahoma              397485   1171193                  30124.5
Oregon                397485   1001266                  23934.7
Pennsylvania          397485   4069680                  25688.7
Rhode Island          397485    310105                  23755.7
South Carolina        397485   1279233                  27904.3
South Dakota          397485    230111                  23918.6
Tennessee             397485   1889824                  29506.6
Texas                 397485   5192340                  25494.4
United States         397485  78689345                  24850.2
Utah                  397485    441702                  22576.8
Vermont               397485    168797                  23610.4
Virginia              397485   1871444                  24856.6
Washington            397485   1535878                  23457.4
West Virginia         397485    681657                  30552.3
Wisconsin             397485   1515656                  23887.2
Wyoming               397485    136865                  25383.6

In [22]:
top=st.sort_values("Deaths", ascending=True)

In [23]:
Top=top.head(10)

In [24]:
Top

                        Year  Deaths  Age-adjusted Death Rate
State
Alaska                397485  110361                  24462.6
Wyoming               397485  136865                  25383.6
District of Columbia  397485  160361                  27437.4
Vermont               397485  168797                  23610.4
North Dakota          397485  191032                  23140.2
South Dakota          397485  230111                  23918.6
Delaware              397485  238935                  25367.4
Montana               397485  277255                  24817.1
Hawaii                397485  300668                  19696.3
Rhode Island          397485  310105                  23755.7

In [30]:
topc=(data[data["Cause Name"]!="All causes"])

In [31]:
topc

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2755,55.5
1,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,439,63.1
2,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4010,54.2
3,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1604,51.8
4,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,California,13213,32.0
...,...,...,...,...,...,...
10291,2003,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,273,55.1
10292,2002,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,289,58.1
10293,2001,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,272,55.5
10294,2000,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,245,50.8
10295,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,258,52.8

In [36]:
topcs=data.groupby("Cause Name").sum()

In [37]:
topcs

                            Year    Deaths  Age-adjusted Death Rate
Cause Name
All causes               1879020  89405359                 749665.1
Alzheimer's disease      1879020   2746824                  23043.1
CLRD                     1879020   4869452                  41787.4
Cancer                   1879020  20489072                 168385.3
Diabetes                 1879020   2632758                  21969.7
Heart disease            1879020  23150366                 186996.3
Influenza and pneumonia  1879020   2077938                  17212.2
Kidney disease           1879020   1615960                  13234.5
Stroke                   1879020   5160280                  43391.4
Suicide                  1879020   1299686                  12388.4
Unintentional injuries   1879020   4355768                  40086.7

In [42]:
sot=topcs.sort_values("Deaths", ascending=False)

In [44]:
sot[1:]

                            Year    Deaths  Age-adjusted Death Rate
Cause Name
Heart disease            1879020  23150366                 186996.3
Cancer                   1879020  20489072                 168385.3
Stroke                   1879020   5160280                  43391.4
CLRD                     1879020   4869452                  41787.4
Unintentional injuries   1879020   4355768                  40086.7
Alzheimer's disease      1879020   2746824                  23043.1
Diabetes                 1879020   2632758                  21969.7
Influenza and pneumonia  1879020   2077938                  17212.2
Kidney disease           1879020   1615960                  13234.5
Suicide                  1879020   1299686                  12388.4

In [45]:
sot.mean()

Year                       1.879020e+06
Deaths                     1.434577e+07
Age-adjusted Death Rate    1.198327e+05
dtype: float64